/* style.css */
@font-face {
    font-family: 'SunValley';
    src: url('../fonts/SunValley.ttf');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red {
    background-color: red;
}

header {
    position: sticky;
    top: 0;
    padding: 5px 50px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2c8845;
    gap: 20px;
}

.header {
    margin: 0 auto;
    width: min(1100px,90vw);
    height: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
}

header img, header a {
    height: inherit;
    cursor: pointer;
}

header ul {
    gap: 30px;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 30px;
}

header li {
    cursor: pointer;
}

header li:hover {
    color: #de8c39;
}

header button {
    border-radius: 20px;
    height: 2.5rem;
    padding: 10px 25px;
    color: #fffaf3;
    background-color: #ffb8a1;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

#order:hover {
    background-color: #ffac91;
}

#payment {
    background-color: #95d2e5;
}

#payment:hover {
    background-color: #8ec8d9;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #fffaf3;
}

#searchbar {
    height: 3rem;
    background-color: #2c8845;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar input[type=search] {
    padding-left: 10px;
    height: 1.75rem;
    width: min(400px,90%);
    border-style: none;
    border-radius: 3px;
}

#searchbar input[type=search]:focus {
    outline: none;
}

#searchbar button {
    margin-left: -3px;
    padding: 3px;
    height: 1.75rem;
    aspect-ratio: 1 / 1;
    background-color: #28a745;
    border: none;
    cursor: pointer;
}

#searchbar button:hover {
    background-color: #2c8845;
}

#searchbar button img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#pictures {
    width: 100%;
    height: max-content;
}

#pictures img {
    width: inherit;
    object-fit: contain;
}

#products {
    margin: 0 0 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-title {
    margin: 20px 0;
    font-family: 'SunValley', sans-serif;
    font-size: 2rem;
    color: #444444;
}

.green {
    color: #2c8845;
}

.product-items {
    min-height: min-content;
    width: min(80%,1100px);
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.product-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.product-title {
    background-color: #de8c39;
    text-align: center;
    padding: 20px;
}

.product-img img {
    object-fit: cover;
    width: 100%;
}

#video {
    cursor: pointer;
    margin: 30px auto;
    height: 400px;
    width: 800px;
    overflow: hidden;
}

#video img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

#story {
    padding: 0 10vw 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.story-title {
    font-family: 'SunValley';
    font-size: 2rem;
    color: #2c8845;
}

.story-subtitle {
    font-weight: bolder;
    color: #2c8845;
}

.story-text {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    color: #444444;
}

#story p {
    line-height: 1.2rem;
}

.story-content {
    text-align: justify;
}

.story-photo {
    width: 30vw;
}

.story-photo img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background-color: #f2f2f2;
}

.ftr-title {
    font-family: 'SunValley';
    font-size: 2.2rem;
    color: #2c8845;
}

.ftr-title span {
    font-family: sans-serif;
}

.ftr-buttons {
    display: flex;
    gap: 5px;
}

.ftr-buttons button {
    background-color: #46423b;
    color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.ftr-buttons button:hover {
    background-color: #ffb03b;
}

.ftr-socmed {
    display: flex;
    gap: 3px;
}

.ftr-socmed * {
    width: 2.75vw;
    cursor: pointer;
}

.ftr-copyright {
    color: #ffb03b;
    font-size: 14px;
}

.ftr-copyright span {
    font-weight: bolder;
}

li {
    text-decoration: none;
}